<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Scheduled and recurring tickets</title>
  </head>

  <body>
    <div id="content" class="scheduled">
      <h1>Scheduled and recurring tickets</h1>

      <div py:if="message" class="system-message">$message</div>

      <div py:if="deleted_message" class="deleted-message">$deleted_message</div>

      <div class="buttons">
        <form action="${href('/scheduled/create')}" method="get">
          <div>
            <input type="submit" value="${_('Add scheduled or recurring ticket')}" />
          </div>
        </form>
      </div>

      <div py:if="len(scheduled_tickets) == 0" id="scheduled_notfound">No scheduled tickets found.</div>

      <div py:if="len(scheduled_tickets) > 0" id="scheduled_tickets">
        <table class="listing tickets">
          <thead>
            <tr><th>Summary</th><th>Enabled</th><th>Due</th><th>Recurring</th></tr>
          </thead>

          <tbody>
            <py:for each="row in scheduled_tickets">
              <tr class="${row.__idx__ % 2 and 'odd' or 'even'}">
                <td class="summary"><a href="${href('scheduled/alter')}/${row.id}">${row.summary}</a></td>
		<td class="enabled" py:if="row.enabled==1">Yes</td>
		<td class="enabled" py:if="row.enabled==0">No</td>
                <td class="due">${format_date(from_utimestamp(long(row.scheduled_start)))}</td>
                <td class="recurring">${row.recurring_days and ("Every %d days" % row.recurring_days) or "No"}</td>
              </tr>
            </py:for>
          </tbody>
        </table>
      </div>

    </div>
  </body>
</html>
